# PostgreSQL

POSTGRES_DB=cochief
POSTGRES_USER=cochief
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
ConnectionStrings__PostgreSql="Host=localhost;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"

# Clash of Clans API

ClashOfClans__ApiToken=your-clash-of-clans-api-token
